/* 
[Video 22] Reto: simulación de estudio de salarios
 */



/* POSITIONS */

.absolute {
    position: absolute;
  }

/* MAIN STRUCTURE */

*{
    padding: 0;
    margin: 0;
    font-family: 'Mitr', sans-serif;
}

body{
    display: grid;
    align-items: center;
    justify-content: center;
    background: #EBF5FB;
}

.container{
    width:90vw;
    margin-top: 1vw;
    height: 86vh;
}

header{
    margin-top: 2vw;
    display: grid;
    place-items: center;
    /*justify-content: center; */
    margin-bottom: 3vw;
}

.introduction-paragraph{
    font-weight: lighter;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

h1{
    font-size: 2vw;
    color: #F39C12;
}

h2{
    color: #52BE80;
    font-size: 1.5vw;
}

.saving-capacity{
    border: 1px solid #95A5A6;
    border-radius: 25px;
    width: 22vw;
    height: 46vh;
    margin-top: 2vw;
    box-shadow: 2px 2px 5px #999;
}

.incomes{
    transform: translateX(18vw) translateY(-3vw);
    
}

.expenses{
    transform:  translateY(-3vw) translateX(47vw);
}

form{
    display: grid;
    place-items: center;
    justify-content: center;
    margin-top: 1vw;
}

h3{
    font-size: 2vw;
    margin-bottom: 2vw;
}

label{
    font-size: 1.5vw;
    margin-bottom: 1vh;
}

input, 
select{
    width: 13vw;
    height: 5vh;
    font-weight: lighter;
    margin-bottom: 2vh;
    border-radius: 12px;
    border: 1px solid #EAECEE;
}

button{
    margin-top: 2vh;
    width: 13vw;
    height: 5vh;
    border-radius: 50px;
    background: #3498DB;
    border: 1px solid #3498DB;
    color: white;
}

@media screen and (max-width: 912px) {
	.container{
		margin-top: 4vw;
	}
	
	h1 {
		font-size: 6vw;
	}
	
	.introduction-paragraph{
		font-size: 4vw;
		text-align: center;
		margin-top: 2vw;
    	margin-bottom: 2vw;
	}
	
	h2{
		font-size: 4vw;
	}
	
	.saving-capacity {
		width: 50vw;
		height: 37vh;
	}
	
	.incomes {
		transform: translateX(21vw) translateY(0vw);
	}
	
	.expenses {
		transform: translateY(61vw) translateX(21vw);
	}
	
	form{
		margin-top: 3vw;
	}
	
	h3{
		font-size: 6vw;
	}
	
	label {
		font-size: 4vw;
	}
	
	input, select {
		width: 35vw;
		height: 4vh;
		font-size: 3vw;
	}
	
	button {
		margin-top: 0vh;
		width: 30vw;
		font-size: 4vw;
	}
}

@media screen and (max-width: 500px) {}
